<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNGXMLTest Test Suite" >
    <test thread-count="5" name="TestNGXMLTest Test" verbose="2">
        <classes>
            <class name="Tests.Ecommerce.AddToCartTest"/>
            <class name="Tests.Ecommerce.HybridAppTest"/>
        </classes>
    </test>
</suite>